/* 
    Created on : 13-Jul-2016, 01:55:21
    Author     : joshl
    */
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
        margin-bottom: 0;
        bord
        er-radius: 0;
    }
    /* Change CV buttons colour */
    #cv a {
        font-weight: bold;
        color: #4286f4;
    }
    #cv a:hover {
        color: #23527c;
    }
    /* Used as a buffer between the nav bar and start of the content */
    .spacer {
        padding: 25px;
    }
    /* Style Profile Picture Picture */
    .container .media img {
        border-style: solid;
        border-width: 2px;
        border-color: #000;
        border-radius: 50%;
    }
    /* Google maps */
    #map {
        height: 190px;
        width: 100%;        
    }
    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
    /* Footer*/
    footer {
        background-color: #181818;
        color: #fff;
    }
    footer img {
        border-width: 2px;
        border-color: #000;
        border-radius: 50%;
        border-radius: 50%;
    }